body{
    margin : 0;
    padding: 0;
    background-size: cover;
    background position: center;
    font: sans-serif;
    background: #dedddd;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background: #f0eaea;
    top: -50px;
    left: calc(50% - 50px);
}
.fixed-header{
    position: relative;
    height: 60px;
    width: 100%;
    background: #383890;
}
.fixed-header h1{
    left: 40px;
    top: 14px;
    position: absolute;
    font-size: 40px;
    color: aliceblue;
}
.fixed-header h1.mail{
    left: 88%;
    top: 32px;
    margin-right: 1px;
    position: -absolute;
    font-size: 10px;
    color: aliceblue;
}
.fixed-header h1.number{
    left: 88%;
    top: 48px;
    margin-right: 1px;
    position: -absolute;
    font-size: 10px;
    color: aliceblue;
}
.login{
    height: 400px;
    width: 300px;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(180deg,#4d80e4,#4d80e4);
    transform: translate(-50%,-50%);
    top: 300px;
    left: 50%;
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    position: relative;
    top: -25%;
    font-size: 25px;
}
.login input{
     border: none;
     border-radius: 6px;
     border: 2px solid rgba(178, 39, 39, 0.7);
     outline: none;
     height: 20px;
     color: #c46868;
     font-size: 16px;
     margin-left: 20px;
     margin-bottom: 10px;
     position: relative;
     top: 10px;
     left: -8%;
     padding: 10px;
     width: 90%;
}
.Loginbox i { 
            position: absolute; 
            margin-top: -28px;
        }
.dropdown{
     border: none;
     border-radius: 6px;
     border: 2px solid rgb(185, 123, 123);
    background: rgba(226, 226, 226, 0.95);
     outline: none;
     height: 43px;
     color: #575656;
     font-size: 16px;
     margin-left: 20px;
     margin-bottom: 10px;
     position: relative;
     top: 10px;
     left: -8%;
     padding: 10px;
     width: 100%; 
}
button{
    position: relative;
    height: 42px;
    width: 60%;
    left: 20%;
    background: rgb(81, 89, 190);
    border: #d18a8a;
    border-radius: 50px;
    color: #ededed;
    font-size: 16px;
    top: 15px;
}
p{
    position: relative;
    top: 70px;
    left: 40%;
}










